@import "../../vars.css";
.container {
  margin-top: 76px;
  color: var(--color-text);
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 85px;
}

.title {
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.projects {
  margin-top: 37px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 100%;
}



.buttonsRow {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  padding-top: 25px;
}

.moreBtn{
  text-decoration: none;
  background-color: rgb(30, 48, 80);
  color: var(--color-text);
  border-radius: 2rem;
  font-size: 25px;
  font-weight: 600;
  padding: 15px 20px;
  margin-right: 1rem;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease;
}
.moreBtn:hover {
  background-color: var(--color-text);
  color:rgb(30, 48, 80);
}