@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 80px;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
  padding: 40px 20px;
  gap: 10px;
}

.text h2 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 4px;
}

.text p {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2px;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 23px;
  list-style: none;
  gap: 26px;
}

.link {
  display: flex;
  align-items: center;
}

.link i {
  margin-right: 0.5rem;
}

.link a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.5px;
}

.link a:hover {
  text-decoration: underline;
}

.box {
  --size: 50px;
  --p: 25px;
  --R: 55.9px;

  height: 300px;
  margin: 5px;
  border: 1px solid;
  padding-top: 130px;
  padding-bottom: 50px;

  background: linear-gradient(to bottom, #19376d, transparent);
}

.box.mask {
  -webkit-mask: radial-gradient(
        var(--R) at 50% calc(var(--size) + var(--p)),
        blue 99%,
        #0000 101%
      )
      calc(50% - 2 * var(--size)) 0 / calc(4 * var(--size)) 100%,
    radial-gradient(var(--R) at 50% calc(-1 * var(--p)), #0000 99%, red 101%)
      50% var(--size) / calc(4 * var(--size)) 100% repeat-x;
  background: linear-gradient(to bottom, #19376d, transparent);
  border: none;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    gap: 20px;
    padding: 30px 10px;
  }
  .text h2 {
    font-size: 32px;
  }
  .text p {
    font-size: 16px;
  }
  .links {
    margin-top: 20px;
  }
  .link img {
    width: 25px;
  }
  .link a {
    font-size: 16px;
  }
  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .links {
    align-items: center;
  }
}
